<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.LikeMapper">
    <select id="queryByBlog_idAndUser_Id" resultType="com.sy.model.Like">
      SELECT * FROM lIKES WHERE userid=#{userId} AND blog_id =#{blogId}
   </select>
    <update id="addLike" >
       INSERT INTO `csdn`.`likes` ( `blog_id`, `userid`) VALUES ( #{blogId},#{userId});

    </update>
    
    <update id="deleteLike">
        delete from likes where blog_id=#{blogId} and userid=#{userId}
    </update>
    <select id="queryByBlogId" resultType="com.sy.model.Like">
        select * from likes where blog_id = #{blogId}
    </select>




</mapper>